# Command
alias ls='ls -G'
alias ll='ls -l'
alias la='ls -a'
alias lal='la -al'

# supposing gcc@9 is installed via brew
alias gcc='gcc-9'
alias g++='g++-9'

# Rails
alias b='bundle exec'
alias bs='bundle exec spring'
alias r='rails'
alias rs4='-p 4000'
alias rs5='-p 5000'

# git
alias g='git'

# tmux
alias t='tmux'
alias ta='tmux attach'
alias td='tmux detach'

# jupyter
alias jn='jupyter notebook'

# aws-vault
alias aws='aws-vault exec "${AWS_DEFAULT_PROFILE:-home}" -- /usr/local/bin/aws'
