# Command
alias ls='ls -G'
alias ll='ls -l'
alias la='ls -a'
alias lal='la -al'

# Rails
alias be='bundle exec'
alias r='bin/rails'
alias rs4='-p 4000'
alias rs5='-p 5000'
alias rake='bin/rake'
alias rspec='bin/rspec'

# git
alias g='git'
