# Command
alias ls='ls -G'
alias ll='ls -l'
alias la='ls -a'
alias lal='la -al'

# supposing gcc@9 is installed via brew
alias gcc='gcc-9'
alias g++='g++-9'

# git
alias g='git'

# tmux
alias t='tmux'
alias ta='tmux attach'
alias td='tmux detach'

# aws-vault
alias aws='aws-vault exec "${AWS_DEFAULT_PROFILE:-home}" -- /usr/local/bin/aws'
