[include]
	path = .gitconfig.local
[user]
	name  = Junichi Sato
	email = 22004610+sato11@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII4l2q5QcW6O7KpPBVvlQCu/3abwMcFdJvpDhtJXcTAY
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
	pager = less -F -X
[alias]
	# status/show
	s  = status
	ss = status -s
	sh = show
	# commit
	a   = add
	c   = commit
	cam = commit -a --amend
	co  = checkout
	cb  = checkout -b
	cd  = checkout develop
	cm  = checkout main
	cmm = checkout master
	# branch
	b  = branch
	ba = branch -a
	bm = branch --merged
	bn = branch --no-merged
	br = branch -r
	# fetch/pull/push
	f  = fetch
	fp = fetch --prune
	pl = pull
	pp = pull --prune
	ps = push
	# diff
	di  = diff
	dif = diff
	dc  = diff --cached
	ds  = diff --staged
	dw  = diff --word-diff
	dcw = diff --color-words
	# log
	la  = log --pretty=\"format:%ad %h (%an): %s\" --date=short
	ll  = log --date=short                --pretty=format:'%C(yellow)%h %C(magenta)%cd %C(cyan)%cn %C(yellow)%d %Creset%s'
	ll1 = log --date=short --max-count=1  --pretty=format:'%C(yellow)%h %C(magenta)%cd %C(cyan)%cn %C(yellow)%d %Creset%s'
	lll = log --date=short --max-count=10 --pretty=format:'%C(yellow)%h %C(magenta)%cd %C(cyan)%cn %C(yellow)%d %Creset%s'
	graph   = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %C(magenta)%cd %C(cyan)%cn %C(yellow bold)%d %Creset%s'
	ranking = shortlog -s -n --no-merges
	# rebase
	rb  = rebase --merge
	rbd = rebase --merge develop
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase -i
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templatedir = ~/.git-templates/git-secrets
	defaultBranch = main
[ghq]
	root = ~/src
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
